.list {

    &__checkbox {
        // margin-right: 4rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            border: 1px solid $color-primary;
            border-radius: 5px;
            margin-right: 1.2rem;
        }
    }

    &__todo {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        font-size: 1.7rem;
        color: #5A5A5A;
        font-weight: 500;
    }

    &__input-box {
        width: 12%;
        display: flex;
        justify-content: space-between;
    }

    &__input {
        font-size: 1.5rem;

        &_red {
            color: $color-primary-dark;
        }

        &_hidden {
            display: none;
        }

        &_primary {
            font-family: inherit;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 0 2rem;
            color: $color-white;
            border: none;
            border-radius: .8rem;
            background-color: $color-primary;

        }

        &:hover {
            cursor: pointer;
        }
    }

    &__edit {
        display: flex;
        justify-content: space-between;
    }
}

[type="checkbox"]:checked {
    &+.list__checkbox {
        opacity: .7;

        &::before {
            content: "✓";
            text-align: center;
            font-size: 1.1rem;
            color: $color-primary;
            font-weight: 900;
            text-decoration: none;
        }

        & .list__content {
            text-decoration: line-through;
        }
    }
}